USE [master]
GO
/****** Object:  Database [Olympic]    Script Date: 13/03/2023 14:34:38 ******/
CREATE DATABASE [Olympic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Olympic', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Olympic.mdf' , SIZE = 94208KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Olympic_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Olympic_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Olympic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Olympic]
GO
/****** Object:  Table [dbo].[athleta_events$]    Script Date: 13/03/2023 14:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[athleta_events$](
	[ID] [float] NULL,
	[Name] [nvarchar](255) NULL,
	[Sex] [nvarchar](255) NULL,
	[Age] [float] NULL,
	[Height] [float] NULL,
	[Weight] [float] NULL,
	[Team] [nvarchar](255) NULL,
	[NOC] [nvarchar](255) NULL,
	[Games] [nvarchar](255) NULL,
	[Year] [float] NULL,
	[Season] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[Sport] [nvarchar](255) NULL,
	[Event] [nvarchar](255) NULL,
	[Medal] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[noc_regions$]    Script Date: 13/03/2023 14:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[noc_regions$](
	[NOC] [nvarchar](255) NULL,
	[region] [nvarchar](255) NULL,
	[notes] [nvarchar](255) NULL
) ON [PRIMARY]

GO
USE [master]
GO
